.App {
  padding-bottom: 100px;
}

#summary {
  width: 80%;
  margin: auto;
  position: relative;
  font-size: 18px;
}

#profilePic {
  height: 150px;
  width: 150px;
  float: left;
  margin: 5px;
}

#skillsBox {
  width: 60%;
  margin: 20px auto;
  position: relative;
}