.App {
  padding-bottom: 100px;
}

#summary {
  width: 80%;
  margin: auto;
  position: relative;
  font-size: 18px;
}

#profilePic {
  height: 150px;
  width: 150px;
  float: left;
  margin: 5px;
}

#skillsBox {
  width: 60%;
  margin: 20px auto;
  position: relative;
}

.project-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* .project-container img {
  width: 100%;
  height: auto;
} */

.project-container .project-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px; */
  text-align: center;
}