html, body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
	box-sizing: border-box;
	color: black; /*white;*/
	background-color: #F5F5F5; /*rgb(138, 43, 226);*/
}

.main {
  width: 100%;
  z-index: 2;
}

/* Header */
.head-home {
	background-image: url("../images/MKE-skyline.jpg");
  /*filter: blur(2px);*/
	width: 100%;
	height: 550px;
  /*background-attachment: fixed !important;*/
	background-position: center;
	background-repeat: no repeat;
	background-size: cover;
  z-index: 1;
}

.head-home:hover {
  filter: blur(0px);
}

.head-home000 {
  /*background-color: #eee9e9;*/
  background-image: url("../images/sandias.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  filter: background-blur(2px);
}

.header-text {
	position: relative;
  top: 15%;
}

.head-title-1 {
  color: cyan;
  text-shadow: 4px 4px 4px black;
  font-size: 60px;
  font-family: Acme;
}

.head-sub-title {
	font-family: Acme;
	color: cyan;
  text-shadow: 4px 4px 4px black;
  /*padding-bottom: 20px;*/
}

/* Navigation Bar */
.nav {
  margin-top: -6px;
  padding: 0;
  outline: none;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: /*rgb(138, 43, 226); rgb(153,70,255);*/ #333;
  width: 100%;
}
/*
.nav li {
  float: left;
}*/

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 70px 14px 20px;
  text-decoration: none;
}

.nav li a:hover {
    background-color: cyan;
    color: rgb(153,70,255);
}

/* Hamburger button */
#ham {
  display: none;
  padding: 5px 15px;
  color: white;
}

#ham hr {
  border-color: cyan;
}

#ham:hover {
  background-color: rgb(153,70,255);
}

/* Mobile Navigation bar */
.nav-mobile {
  position: sticky;
  top: 75px;
  z-index: 9;
}

.nav-mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
}

.nav-mobile li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-mobile li a:hover {
  background-color: cyan;
  color: rgb(153,70,255);
}

/* Responsive Modifications */
@media only screen and (max-width: 1050px) {
  .nav li a {
    display: none;
  }

  #ham {
    display: block;
  }

  #logo {
    width: 110px;
    position: relative;
    /*margin: 0px 0px 0px 300px;*/
  }
}

#menu {
  margin-top: 0px;
}

/* Introduction Section*/
#intro-para {
  font-size: 130%;
  float: left;
  padding: 10px 0px 0px 20px;
}
#intro-title{
  color: rgb(138, 43, 226); /*rgb(153,70,255); /*cyan;*/
  font-size: 50px;
  font-family: Acme;
}
#port-sub-title {
  color: rgb(138, 43, 226);
  font-family: Acme;
  margin-left: 20px;
  padding-top: 15px;
}
#row1 {
  display: inline-block;
}
#self-portrait {
  /*border-style: solid;
  border-color: #F5F5F5; /*cyan;*/
  border-radius: 50%;
  box-shadow: 4px 4px 4px #333;
  margin: 10px;
  /*max-width: 170px;*/
  max-width: 140px;
  min-width: 90px;
  /*float: left;*/
}
.purp-background1 {
  background-color: #F5F5F5 /* #333; /*rgb(153,70,255);*/
  width: 100%;
  margin: 30px 0px 0px 0px;
  /*box-shadow: 10px 10px 5px rgb(153,70,255); /*#333;*/
}

@media only screen and (max-width: 700px) {
	#intro-para {
		font-size:110%
	}

	.gogo {
		position: relative;
		left: 10%;
	}

}

/* Portfolio Section */
#portImage {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

#portImage2 {
  border-radius: 5px 5px 0px 0px;
  width: 75%;
}

#caption {
  /*color: cyan;*/
  background-color: rgb(138, 43, 226);
  /*font-size: 20px;*/
  border-radius: 0px 0px 5px 5px;
  margin: 0px 0px 20px 0px;
}

.caption-header {
	color: cyan;
}

/* Resume Section */
.resume-headers {
	font-family: Acme;
	/*color: rgb(138, 43, 226); /*cyan;*/*/
  color: #333;
	cursor: pointer;
}

hr {
	border-color: #333; /*rgb(153,70,255); /*cyan;*/
	background-color: white;
}

.section-divider {
  border-color: #333;
  width: 95%;
}

.info-button:hover {
	/*color: #333;*/
  color: rgb(138, 43, 226);
}

.resume-link {
	color: rgb(138, 43, 226); /*cyan;*/
	font-family: Acme;
}

.resume-link:hover {
	color: #333;
	text-decoration: none;
}

/* Contact Section */
.contact-info {
  background-color: #333;
  width: 100%;
  padding: 10px;
  margin: 50px 0px 0px 0px;
}

.profile-btns {
	position: relative;
}

@media only screen and (max-width: 1500px) {
  .profile-btns {
  	position: relative;
  	left: 38%;
  }
}

@media only screen and (max-width: 1300px) {
  .profile-btns {
  	position: relative;
  	left: 36%;
  }
}

@media only screen and (max-width: 1100px) {
  .profile-btns {
  	position: relative;
  	left: 33%;
  }
}

@media only screen and (max-width: 1000px) {
  .profile-btns {
  	position: relative;
  	left: 31%;
  }
}

@media only screen and (max-width: 800px) {
  .profile-btns {
  	position: relative;
  	left: 28%;
  }
}

@media only screen and (max-width: 700px) {
  .profile-btns {
  	position: relative;
  	left: 24%;
  }
}

@media only screen and (max-width: 600px) {
  .profile-btns {
  	position: relative;
  	left: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .profile-btns {
  	position: relative;
  	left: 12%;
  }
}

@media only screen and (max-width: 450px) {
  .profile-btns {
  	position: relative;
  	left: 10%;
  }
}

@media only screen and (max-width: 450px) {
  .profile-btns {
  	position: relative;
  	left: 0;
  }
}

.contact-title{
  color: cyan;
  font-family: Acme;
}

#contact-section ul {
  list-style-type: none;
}

#contact-section ul li {
  display: inline;
}

.fa {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 100%;
  border-radius: 50%;
  padding: 11px 0px;
}

.fa:hover {
	color: rgb(153, 51, 255);
}

.fa-envelope {
  background: #333;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  font-size: 150%;
}

.fa-linkedin {
  background: #333;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  font-size: 150%;
}

.fa-github {
  background: #333;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  font-size: 150%;
}

.fa-twitter {
  background: #333;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  font-size: 150%;
}

.fa-instagram {
  background: #333;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  font-size: 150%;
}
